<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Documentation de Steven</title>
  <meta name="description" content="Here you will find some documentation about computer science">

  <link rel="stylesheet" href="/assets/base.css">
  <!-- <link rel="canonical" href="http://localhost:4000/"> -->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <!-- <link rel="alternate" type="application/rss+xml" title="Documentation de Steven" href="/feed.xml"> -->
  
  
</head>


  <body>
    <header class="site-header" role="banner">

  <div class="wrapper">
    
    
    <a class="site-title" href="/">Home</a>
    <p class="site-title">&nbsp;/ &nbsp;</p>
    {% unless p.category == empty %}
    {% for category in page.category %}
    <a class="site-title" href="/search?query={{category}}">{{ category }}</a>
    {% endfor %}
    {% endunless %}
  </div>
</header>